<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <properties resource="./Config/mssql.config"/>

  <settings>
    <setting cacheModelsEnabled="true"/>
    <setting useStatementNamespaces="false"/>
    <setting validateSqlMap="true"/>
    <setting useReflectionOptimizer="true"/>
  </settings>
  <providers resource="providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="${provider}"/>
    <dataSource name="sqlserver-connection" connectionString="Data Source=${datasource};Initial Catalog=${catalog};User Id=${userid};Password=${password}"/>
  </database>
  <sqlMaps>
    <sqlMap resource="./SqlMaps/Product.xml" />
    <sqlMap resource="./SqlMaps/ShoppingCart.xml" />
  </sqlMaps>
</sqlMapConfig>